In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('Data.csv')

In [3]:
dataset.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [6]:
dataset.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [9]:
X = dataset.iloc[:,:-1].values

In [11]:
y = dataset.iloc[:,-1].values

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
from sklearn.svm import SVR

In [15]:
regressor = SVR(kernel='rbf')

In [16]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler_x = StandardScaler()

In [20]:
scaler_y = StandardScaler()

In [34]:
X_train = scaler_x.fit_transform(X_train)

In [35]:
y_train = y_train.reshape(len(y_train),1)

In [36]:
y_train = scaler_y.fit_transform(y_train)

In [37]:
regressor.fit(X_train,y_train)

D:\Python\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR()

In [38]:
y_pred = scaler_y.inverse_transform(regressor.predict(scaler_x.transform(X_test)))

In [39]:
y_pred = pd.DataFrame(y_pred)

In [40]:
y_pred

               0
0     434.052429
1     457.938102
2     461.031139
3     448.630305
4     457.832447
...          ...
1909  462.638710
1910  455.347653
1911  470.602685
1912  439.416535
1913  460.917571

[1914 rows x 1 columns]

In [42]:
y_test = pd.DataFrame(y_test)

In [62]:
y_pred_test = pd.concat([y_pred,y_test],axis=1)

In [65]:
y_pred_test = pd.DataFrame(y_pred_test)

In [66]:
y_pred_test[]

               0       0
0     434.052429  431.23
1     457.938102  460.01
2     461.031139  461.14
3     448.630305  445.90
4     457.832447  451.29
...          ...     ...
1909  462.638710  460.29
1910  455.347653  452.42
1911  470.602685  473.26
1912  439.416535  438.00
1913  460.917571  463.28

[1914 rows x 2 columns]

In [47]:
y_pred_test[1]

KeyError: 1