In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
dataset = pd.read_csv('Data.csv')

In [79]:
dataset.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [80]:
dataset.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [81]:
X = dataset.iloc[:,:-1].values

In [82]:
y = dataset.iloc[:,-1].values

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [85]:
from sklearn.svm import SVR

In [86]:
regressor = SVR(kernel='rbf')

In [87]:
from sklearn.preprocessing import StandardScaler

In [88]:
scaler_x = StandardScaler()

In [89]:
scaler_y = StandardScaler()

In [90]:
X_train = scaler_x.fit_transform(X_train)

In [91]:
y_train = y_train.reshape(len(y_train),1)

In [92]:
y_train = scaler_y.fit_transform(y_train)

In [93]:
regressor.fit(X_train,y_train)

D:\Python\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR()

In [94]:
y_pred = scaler_y.inverse_transform(regressor.predict(scaler_x.transform(X_test)))

In [95]:
from sklearn.metrics import r2_score

In [96]:
r2_score(y_pred,y_test)

0.9462379188596809